@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

:root {
  --form-width: 50%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.header-center {
  text-align: center;
  margin: auto;
  width: var(--form-width);
}

.header-left {
  position: absolute;
  text-align: left;
  margin: 0 0 0 10px;
}

.header-left h1 {
  font-size: 30px;
}

.header-left h3 {
  font-size: 10px;
}

.time-select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
}

.init-form {
  width: var(--form-width);
  margin: auto auto 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  margin-left: 6px;
  display: block;
}

.form-control input, .form-control select{
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.match {

}

.pause-btn {
  height: 10vh;
  width: 60%;
  background-color: #191343; /* Green */
  border: none;
  color: white;
  /*padding: 15px 32px;*/
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  transition-duration: 0.25s;
}

.pause-btn:hover {
  transition-duration: 0.25s;
  width: 70%;
  background-color: #110d31; /* Green */
}

.pause-btn:focus {

}

.clock-container {
  height: 100vh;
  width: calc(100vw - (50vw + 45vh));
  text-align: center;
  float: left;
}

.player-info {
   height: 45vh;
}

.player-info h2 {
  font-size: 25px;
}

.board {
  float: left;
  margin: 5vh auto 10px;
  margin-left: calc((50vw - 45vh));;
  /*background-color: lightgray;*/
  background-color: white;
  width: 90vh;
  height: 90vh;
}

.square {
  float: left;
  height: 100%;
  width: 12.5%;
}

.highlighted {
  background-color: lightblue !important;
}

.row {
  height: 12.5%;
  width: 100%;
}

.dark {
  background-color: rgb(125 135 150);
}

.light {
  background-color: rgb(232 235 239);
}

.piece {
  position: relative;
  top: 17%;
  vertical-align: middle;
  font-size: 7vh;
}

.switchBtn {
  top: 80px;
  position: absolute;
}

.clickable {
  cursor: pointer;
}

.black {
  color: rgb(0 0 0);
}

.white {
  /*color: rgb(242 242 242);*/
  /*color: lightgoldenrodyellow;*/
  color: #cece5d;
}

.icon-container {
  text-align: center;
  width: 100%;
  height: 100%;
}

/* template */

.timer-wrapper {
  display: flex;
  justify-content: center;
}

.time-wrapper {
  position: relative;
  width: 80px;
  height: 60px;
  font-size: 38px;
  font-family: "Montserrat";
}

.center-content {
  width: max-content;
  margin: auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.time-wrapper .time {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(0);
  opacity: 1;
  transition: all 0.2s;
}

.time-wrapper .time.up {
  opacity: 0;
  transform: translateY(-100%);
}

.time-wrapper .time.down {
  opacity: 0;
  transform: translateY(100%);
}