@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

:root {
  --form-width: 50%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.header-center {
  text-align: center;
  margin: auto;
  width: var(--form-width);
}

.header-left {
  float: left;
  width: 9vw;
  text-align: left;
  margin: 0 0 0 10px;
}

.header-left h1 {
  font-size: 30px;
}

.header-left h3 {
  font-size: 10px;
}

.option-select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
}

.init-form {
  width: var(--form-width);
  margin: auto auto 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  margin-left: 6px;
  display: block;
}

.form-control input, .form-control select{
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.pause-btn {
  width: 60%;
}

.pause-btn:hover {
  width: 70%;
  background-color: #3a0e5f;
}


.start-btn {
  width: 85%;
}

.start-btn:hover {
  width: 95%;
  background-color: green;
}

.started:hover {
  background-color: crimson !important;
}

.big-btn {
  height: 10vh;
  background-color: #191343; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  transition-duration: 0.25s;
}

.big-btn:hover {
  letter-spacing: 2px;
  transition-duration: 0.25s;
}

.paused-btn {
  background-color: #521387 !important;
}

.clock-container {
  position: relative;
  height: 100vh;
  width: calc(100vw - (50vw + 45vh));
  background-color: white;
  text-align: center;
  float: left;
}

.front {
  z-index: 10;
}

.player-info {
   height: 45vh;
}

.player-info h2 {
  font-size: 25px;
}

.death-container {
  height: 100vh;
  width: calc(90vw - (50vw + 45vh));
  text-align: center;
  float: left;
}

.dead-pieces-container {
  float: right;
  text-align: center;
  width: 19vh;
  position: relative;
}

.death-pool {
  position: relative;
}

.top {
  top: 14%;
}

.bottom {
  position: absolute;
  bottom: 14%;
  right: 0;
}

.death-pool .piece {
  position: relative;
  top: 17%;
  vertical-align: middle;
  font-size: 4vh;
}

.death-pool-top .piece {
  position: relative;
  top: 17%;
  vertical-align: middle;
  font-size: 4vh;
}

.board {
  float: left;
  margin: 5vh auto 10px;
  /*margin-left: calc((50vw - 45vh));;*/
  /*background-color: lightgray;*/
  background-color: white;
  width: 90vh;
  height: 90vh;
}

.square {
  float: left;
  height: 100%;
  width: 12.5%;
  position: relative;
}

.highlighted {
  /*background-color: lightblue !important;*/
  background-color: lightblue !important;
}

.movable {
  cursor: pointer;
}

.dot {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 5vh;
  width: 5vh;
  background-color: #a4e284;
  /*background-color: lightblue;*/
  border-radius: 50%;
  display: inline-block;
}

.kill {
  background-color: crimson;
  height: 9vh;
  width: 9vh;
}

.row {
  height: 12.5%;
  width: 100%;
}

.dark {
  background-color: rgb(125 135 150);
}

.light {
  background-color: rgb(232 235 239);
}

.piece {
  position: relative;
  top: 17%;
  vertical-align: middle;
  font-size: 7vh;
}

.arrow {
  /*position: relative;*/
  /*top: 17%;*/
  margin-left: 0;
  margin-right: 10px;
  vertical-align: middle;
  font-size: 4vh;
}

.switchBtn {
  top: 80px;
  position: absolute;
}

.clickable {
  cursor: pointer;
}

.black {
  color: rgb(0 0 0);
}

.white {
  /*color: rgb(242 242 242);*/
  color: rgb(240 245 211);;
  stroke: black;
  stroke-width: 10px;
}

.icon-container {
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.timer-wrapper {
  display: flex;
  justify-content: center;
}

.time-wrapper {
  position: relative;
  width: 80px;
  height: 60px;
  font-size: 38px;
  font-family: "Montserrat", serif;
}

.center-content {
  width: max-content;
  margin: auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.time-wrapper .time {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(0);
  opacity: 1;
  transition: all 0.2s;
}

.time-wrapper .time.up {
  opacity: 0;
  transform: translateY(-100%);
}

.time-wrapper .time.down {
  opacity: 0;
  transform: translateY(100%);
}

.hidden {
  visibility: hidden;
}

.victory-text {
  text-align: center;
  text-shadow: 4px 4px 2px black;
  color: crimson;
  width: 90vh;
  font-size: 80px;
  letter-spacing: 25px;
  font-weight: bolder;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.popup {
  z-index: 12;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}

.popup_inner {
  position: relative;
  width: max-content;
  top: 35vh;
  padding: 25px 25px 70px;
  margin: auto;
  background: white;
}

@media (max-width: 1375px) {
  .popup_inner {
    top: 30vh;
  }
}

@media (max-width: 1275px) {
  .popup_inner {
    top: 32vh;
  }
}

@media (max-width: 1025px) {
  .popup_inner {
    top: 30vh;
  }
}

.popup select {
  /*font-family: 'FontAwesome', 'sans-serif';*/
}

.preview {
  float: right;
}

.preview .piece {
  font-size: 10vh;
}

.promotion-container {
  margin-top: 25px;
}

#promotion {
  display: inline-block;
  padding: 9px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.width-auto {
  width: auto !important;
}

.interaction-container {
  background-color: white;
  height: 100vh;
  width: calc(100vw - (50vw + 45vh));
  position: absolute;
  text-align: center;
  bottom: 0;
  right: 0;
}

.settings {
  z-index: 11;
  position: absolute;
  bottom: 5px;
  right: 25px;
  font-size: 5vh;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.move-count-container {
  width: 100%;
  position: absolute;
  margin: auto;
  text-align: center;
  line-height: 5vh;
  height: 5vh;
}

.move-count-container p {

}

.move-count-container-bottom {
  bottom: 0;
  /*left: 50%;*/
  /*transform: translate(-50%, -50%);*/
}

.move-count-container-top {
  top: 0;
  /*left: 49%;*/
  /*transform: translate(-49%, -50%);*/
}
